<footer class="py-4 text-center">
  <div class="d-flex justify-content-center my-3 gap-3">
    @for (link of subDescriptor.linkElements; track link.link) {
      <a
        [href]="link.link"
        target="_blank"
        class="d-inline-flex align-items-center justify-content-center rounded-circle shadow-sm fs-3 social-icon"
        [ngClass]="link.color"
      >
        <i [class]="link.icon"></i>
      </a>
    }
  </div>
  <span class="small">
    Made with <i class="fa fa-heart text-danger fa-beat"></i> by Manfredi Piraino!
  </span>
</footer>
