<div class="card align-items-center">
    <div class="custom_top_card_container">
        <div class="custom_top_card_overlay" [class]="cardContent.backgroundColor">
            <img class="custom_top_img_setting" src="{{cardContent.img}}" alt="Card image cap">
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{cardContent.title}}</h5>
        <h5 class="card-subtitle">{{cardContent.subtitle}}</h5>
        <h5 class="card-location">{{cardContent.location}}</h5>
        <p class="card-text">{{cardContent.description}}</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
</div>