<div class="card border-0 shadow-sm my-4 mx-auto" style="max-width: 540px;">
  <div class="row g-0 align-items-center">
    <div class="col-4 col-md-3">
      <img [src]="cardContent.img" class="img-fluid w-100 rounded-start" alt="Card image">
    </div>
    <div class="col-8 col-md-9">
      <div class="card-body">
        <h5 class="card-title">
          {{ cardContent.title }}<br><small class="text-muted">{{ cardContent.subtitle }}</small>
        </h5>
        <h6 class="card-location text-muted">{{ cardContent.location }}</h6>
        <p class="card-text">{{ cardContent.description }}</p>
      </div>
    </div>
  </div>
</div>
