.about_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em 0;

    h3 {
        width: 100%;
        padding: 1em 1.4em;
        margin: 1.5em;
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
        //box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);        ;
    }
}