.contacts_formatting{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em;
    .full-with_alligned{
        width: 100%;
        text-align: center;

    }

    .contact_sub_title{
        font-size: 1.25rem;
    }
    .btn{
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    }
    a{
        text-decoration: none;
        color: inherit;
    }
}