<div class="contacts_formatting my-3">
  <h2 class="contact_title">
    {{ subDescriptor.primaryTitleText }}
    <img
      alt="☎️"
      draggable="false"
      src="https://cdnjs.cloudflare.com/ajax/libs/twemoji/14.0.2/72x72/260e.png"
      style="
        height: 1em;
        width: 1em;
        margin: 0px 0.05em 0px 0.1em;
        vertical-align: -0.1em;
      "
    />
  </h2>
  <h4 class="text-muted contact_sub_title">
    {{ subDescriptor.secondaryTitleText }}
  </h4>
  <a href="mailto:{{ subDescriptor?.mail }}" class="btn btn-outline-light my-2">
    {{ subDescriptor?.mail }}
  </a>
</div>
