
<div class="hero_formatting gx-0  row">
    <!-- Hero left section -->
    <div class ="col-12 col-sm-6 left_hero">  
        <!-- left content -->
        <div class="row gx-0 p-5 align-content-center">
            <div class="wrapper">
                <!-- <h1 id="dynamic_introduction" class="typing-text typing-animation">Welcome! I am Manfredi!</h1> -->
                <h1 id="dynamic_introduction" class="typing-text typing-animation-primary">{{subDescriptor.primaryHeaderText}}</h1>
            </div>
            <div *ngIf="secondaryTextActive" class="wrapper">
                <!-- <h1 id="dynamic_introduction" class="typing-text typing-animation">Welcome! I am Manfredi!</h1> -->
                <h5 id="dynamic_introduction" class="typing-text typing-animation-secondary">{{subDescriptor.secondaryHeaderText}}</h5>
            </div>
        </div>          
    </div>
    <!-- Hero right section -->
    <div class ="col-12 col-sm-6 right_hero">
        <div class="hero_img_formatting">
            <!-- <img src="../../assets/profile_mp.png" alt="">     -->
            <img src="{{subDescriptor.imgPath}}" alt="">    
        </div>
    </div>

</div>

