<div class="container my-5 py-4">
  <div class="text-center rounded-3">
    <div class="col-12 col-sm-6 mx-auto">
      <img
        [src]="subDescriptor.imgPath"
        class="img-fluid rounded mb-4"
        alt="Hero Image"
      />
    </div>
    <h1 class="display-5 fw-bold">{{ subDescriptor.primaryHeaderText }}</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted mb-4">
      {{ subDescriptor.secondaryHeaderText }}
    </p>
    <div class="d-flex justify-content-center gap-3">
      <button
        (click)="downloadPdf()"
        class="btn btn-dark btn-lg rounded-pill"
        type="button"
      >
        Download CV
      </button>
      <a href="#contacts" class="btn btn-outline-dark btn-lg rounded-pill">
        Contacts
      </a>
    </div>
  </div>
</div>
