
@import '../../variables.scss';


.hero_formatting {
    display: flex;
    width: 100%;
    height: 90vh;
    & .left_hero {
        display: flex;
        a{
            color: inherit;
            text-decoration: none;
        }
        .row {
            flex-grow: 1;
        }

        & .wrapper {
            display: grid;
            place-items: center;
            
            .typing-text {
                white-space: nowrap;
                overflow: hidden;
                font-size: 3vw;
            }
            
            .typing-animation-primary {
                width: 22ch;
                animation: typing 2s steps(22), blink .5s step-end infinite alternate;
                border-right: 3px solid;
            }
            .typing-animation-secondary {
                width: 18ch;
                animation: typing 2s steps(17), blink .5s step-end infinite alternate;
                border-right: 3px solid;
            }
            
            @keyframes typing {
                from {
                    width: 0
                }
            }

            @keyframes blink {
                50% {
                    border-color: transparent
                }
            }
        }
        
        
    }
    
    & .right_hero {
        display: flex;
        justify-content: center;
        align-items: center;
        & .hero_img_formatting {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70%;
            height: 70%;
        }
        
        img {
            justify-content: center;
            width: $full-img-width;
            height: $full-img-height;
            object-fit: cover;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        }
    }
    
}

@media (max-width: 577px) {

    .hero_formatting {

        & .right_hero {

            img {
                justify-content: center;
                width: $xs-img-width;
                height: $xs-img-height;
                object-fit: cover;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
            }
        }
        
    }
}