
<div class="hero_formatting gx-0  row">
    <!-- Hero left section -->
    <div class ="col-12 col-sm-6 left_hero">  
        <!-- left content -->
        <div class="row gx-0 p-5 align-content-center">
            <div class="wrapper">
                <div id="dynamic_introduction" class="typing-text typing-animation">Welcome! I am Manfredi!</div>
            </div>
            <!-- <div>
                {{dynamicText}}
            </div> -->
        </div>          
    </div>
    <!-- Hero right section -->
    <div class ="col-12 col-sm-6 right_hero">
        <div class="hero_img_formatting">
            <img src="../../assets/profile_mp.png" alt="">    
        </div>
    </div>

</div>

