<section [class.sticky]="section.type === 'HEADER'" class="row gx-0 hidden">
  @switch (section.type) {
    @case ('HEADER') {
      <app-header id="{{ section.id }}" class="col-12" [class.SECTION]="section.style" [subDescriptor]="section" />
    }
    @case ('HERO') {
      <app-hero id="{{ section.id }}" class="col-12 px-0 hero" [class.SECTION]="section.style" [subDescriptor]="section" />
    }
    @case ('ABOUT') {
      <app-about id="{{ section.id }}" class="col-12" [class.SECTION]="section.style" [subDescriptor]="section" />
    }
    @case ('CONTACTS') {
      <app-contacts id="{{ section.id }}" class="col-12" [class.SECTION]="section.style" [subDescriptor]="section" />
    }
    @case ('FOOTER') {
      <app-footer id="{{ section.id }}" class="col-12 footer" [class.SECTION]="section.style" [subDescriptor]="section" />
    }
    @case ('PROJECTS') {
      <app-projects id="{{ section.id }}" class="col-12" [class.SECTION]="section.style" [subDescriptor]="section" />
    }
  }
</section>
