@import 'bootstrap/scss/bootstrap';

html{
    width: 100%;
    font-family: "Fira Mono", monospace,"SF UI Text", "Helvetica Neue", "Segoe UI", "Oxygen",    "Ubuntu", "Cantarell", "Open Sans", sans-serif;
}

p{
    text-align: center;

}